/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* profile page css */

.profile .form-control:focus {
  box-shadow: none;
  border-color: #2874F0
}

.profile .profile-button {
  background: #2874F0;
  box-shadow: none;
  border: none
}

.profile .profile-button:hover {
  background: #2874F0;
}

.profile .profile-button:focus {
  background: #2874F0;
  box-shadow: none
}

.profile .profile-button:active {
  background: #2874F0;
  box-shadow: none
}

.profile .back:hover {
  color: #2874F0;
  cursor: pointer
}

.profile .labels {
  font-size: 11px
}

.profile .add-experience:hover {
  background: #2874F0;
  color: #fff;
  cursor: pointer;
  border: solid 1px #2874F0;
}
.filter-list-container-mobile{
  display: none;
}
.sidebar-mobile-filter-humburger{
  display: none;
  position: fixed;
  top:120px;
  color: black;
  margin-top: 10px;
  margin-left: 0px !important;
  font-size: 35px;
  font-weight: bold;
  z-index: 100;
  background-color: white;
}

@media screen and (max-width:767px){
  .sidebar-mobile-filter-humburger{
    display: block;
  }
  .filter-list-container{
    display: none;
  }
  .filter-list-container-mobile{
    display: none;
    position: fixed;
    top: 134px;
    margin-top: 0px;
    width: 70%;
    height: 100vh;
    background-color: white;
    z-index: 10;
    overflow-y: scroll;
  }
  .filter-list-container-mobile .filter{
    background-color: white !important;
    width: 70% !important;
  }
  .main-item-container{
    margin-top: 15px;
  }
}

